{% extends "layout.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="well well-inverse">
            <h3 class="text-center">CATCH UP WITH YOUR FAVOURITE PROGRAMS</h3>
        </div>
    </div>
</div>
{{ include('letters.twig', sandboxed = true) }}
{% endblock %}