<div class="container">
    <div class="row">
        <div class="well">
            <div class="letter-options text-center">
                <h4>Search by letter</h4>
                <ul class="pagination">
                    {% for letter in letters %}
                        {% if letter == character %}
                            {% set active = 'active' %}
                        {% else %}
                            {% set active = '' %}
                        {% endif %}
                        <li class="{{ active }}">
                            <a href="/programmes/{{letter}}/1">{{letter}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>