{% extends "layout.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="well well-inverse">
            <h1 class="text-center">Results</h1>
            {% if error %}
                <p class="text-danger">Problem: {{ error }}</p>
            {% endif %}
        </div>
    </div>
</div>
{{ include('letters.twig', sandboxed = true) }}
<div class="container">
    {% for programme in programmes %}
    <div class="row">
        <div class="well" data-id="{{ programme.id }}">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" onerror="this.src='http://placehold.it/100x100'" style="width: 100px; height: 100px;" src="{{ programme.images.standard }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ programme.title }}</h4>
                    <p class="text-right">{{ programme.subtitle }}</p>
                    <p>{{ programme.synopses.medium }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span>{{ programme.initial_children.release_date }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ include('pagination.twig', sandboxed = true) }}
{% endblock %}